* {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(165, 143, 255, 0.533);
}

#navbar-content {
    display: flex;
}

#login {
    display: flex;
}

a {
    color: black;
    text-decoration: none;
}

#logo {
    width: 250px;
    height: 50px;
    padding-right: 20%;
}

