* {
    margin: 0;
    padding: 0;
}

.spicy-rice-regular {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}  

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(165, 143, 255, 0.533);
}

a  {
    color: rgb(255, 255, 255);
    text-decoration: none;
    word-spacing: 10%;

    font-family: "Spicy Rice", serif;
    font-weight: 400;  
    font-size: 20px;    
}

#logo {
    font-size: 30px;

    font-family: "Spicy Rice", serif;
    font-weight: 400;  
    font-size: 20px;    
    text-align: center;
}
